# files to be ignored
important_reference_links.txt
**/*.h5
**/*.keras
**/*saved_model
**/*model.png
**/*__pycache__

# datasets downloaded to be ignored
**/*pizza_steak
**/*10_food_classes_all_data
**/*10_food_classes_10_percent
**/*10_food_classes_1_percent
**/*101_food_classes_10_percent

# checkpoints to be ignored
**/model_checkpoints.zip